body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #343434;
    color: white;
    font-family: 'Consolas', sans-serif;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #4584b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.cell[data-cell="X"] {
    color: #ffde57;
}

.cell[data-cell="O"] {
    color: #ffde57;
}

button {
    background-color: #646464;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #343434;
}
